:root {
  --color-text: #2F2B25;
  --color-bg: #F3F0E6;
  --color-tint: #E9B44C;
  --color-icon: #8B7355;
  --color-secondary-text: #3D4B35;
  --color-secondary-bg: #E6EAE3;
  --color-highlight: #E9B44C;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ECEDEE;
    --color-bg: #1C1B19;
    --color-tint: #C79200;
    --color-icon: #AFA893;
    --color-secondary-text: #B6C2B0;
    --color-secondary-bg: #242622;
    --color-highlight: #C79200;
  }
}

/* Base usage */
body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

p, span, li {
  color: var(--color-text);
}

a {
  color: var(--color-highlight);
  text-decoration: none;
}
a:hover {
  color: var(--color-tint);
}
